<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="3;{{goTo}}">
    <meta charset="utf-8">
    <title>Boletin BC [v0.7]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="../../static/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../../static/assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="/">Boletin BC</a>
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
            <li class="active"><a href="/">Inicio</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit" style="background-image: url(/../static/Uploads/leaf.jpg);border-radius: 10px;">
      <h1 class="display-1" style='font-weight: lighter;'>{{error}}</h1>
      </div>
      <footer>
        <p>© IO Patterns 2017</p>
      </footer>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/assets/js/jquery.js"></script>
    <script src="../../static/assets/js/bootstrap-transition.js"></script>
    <script src="../../static/assets/js/bootstrap-alert.js"></script>
    <script src="../../static/assets/js/bootstrap-modal.js"></script>
    <script src="../../static/assets/js/bootstrap-dropdown.js"></script>
    <script src="../../static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="../../static/assets/js/bootstrap-tab.js"></script>
    <script src="../../static/assets/js/bootstrap-tooltip.js"></script>
    <script src="../../static/assets/js/bootstrap-popover.js"></script>
    <script src="../../static/assets/js/bootstrap-button.js"></script>
    <script src="../../static/assets/js/bootstrap-collapse.js"></script>
    <script src="../../static/assets/js/bootstrap-carousel.js"></script>
    <script src="../../static/assets/js/bootstrap-typeahead.js"></script>
  </body>
</html>
</html>
