<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>COMPENDIUM SERVER [v0.8]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 0px;
        padding-bottom: 40px;
      }

    .bg {
        /* The image used */
        background-image: url('../static/Uploads/maps.png');
        opacity:0.99;
        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @font-face {
    font-family: raleway;
    src: url(../static/fonts/raleway_thin.woff);
    font-weight: bold;
}

      
    </style>
    <link href="../static/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/css/compendium.css" rel="stylesheet">
  </head>
  <body >
    <div class="bg">
       <div class=" navbar navbar-inverse navbar-fixed-top" style="background: url('../static/Uploads/vinyl_3.png'); height:300px; box-shadow: 0 0 30px black;  opacity: 0.8 ;">
      <div class=" navbar-inner " style ="height:300px; background: url('../static/Uploads/vinyl_2.png');opacity: 1 ">
        <div class=" container" >
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class=" brand"  style=" position: relative;
                                            transform: translate(0%, 400%); 
                                            font-weight: lighter; 
                                            color:lightgray; 
                                            font-size: 6vw;
                                            font-family:'raleway',sans-serif;" >COMPENDIUM</a>
          <div style="  position: relative;
                        transform: translate(0%, 250%);">
                        <a  href="../static/share/test.apk" download>
                        <img src="../static/Uploads/apk.png" width="70px" height="auto" href="../static/share/test.apk" download ></a>
                        <a  href="../static/share/test.apk" download >DOWNLOAD ANDROID .APK</a></div>
          <div class="nav-collapse collapse">
            
            <ul class="nav navbar-nav pull-right">
              <li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="container" style="border-radius: 0px; padding-top: 350px; margin-bottom: 0px; padding-bottom: 0px ">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" style="opacity: 0.8  ; background-color: rgb(0,0,0,0.8); box-shadow: 0 0 30px gray">
        <h1 class="row title" style=' margin-bottom: 0; 
                                      font-weight: lighter; 
                                      color:white; 
                                      font-family:"raleway",sans-serif; '>Compendium is a catalogue of the scene</h1>
        <h3 class="row title" style='color:white; font-family:"raleway";'>connect artists, musicians, alike </h3>
        <p><a class="btn btn-primary btn-large" href="/showSignUp"style='font-size: 15px'>Register!</a></p>
      </div>
    </div>



    <footer style="margin-top:0px ; padding-top:0px; margin-left: 80px">
      <h5 class="brand" >&copy; IdeasBlockLT 2018</h5>
    </footer>

    </div>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/assets/js/jquery.js"></script>
    <script src="../../static/assets/js/bootstrap-transition.js"></script>
    <script src="../../static/assets/js/bootstrap-alert.js"></script>
    <script src="../../static/assets/js/bootstrap-modal.js"></script>
    <script src="../../static/assets/js/bootstrap-dropdown.js"></script>
    <script src="../../static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="../../static/assets/js/bootstrap-tab.js"></script>
    <script src="../../static/assets/js/bootstrap-tooltip.js"></script>
    <script src="../../static/assets/js/bootstrap-popover.js"></script>
    <script src="../../static/assets/js/bootstrap-button.js"></script>
    <script src="../../static/assets/js/bootstrap-collapse.js"></script>
    <script src="../../static/assets/js/bootstrap-carousel.js"></script>
    <script src="../../static/assets/js/bootstrap-typeahead.js"></script>
    <!-- To debbug upgrade for jquery
    <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script> -->
  </body>
</html>
</html>
