/* For mobile phones: */
a.compendium {
    font-size: 35px;
  }
  
  @media  screen and (min-width: 600px) {
    /* For tablets: */
    a.compendium {font-size: 50px;}
  }
  @media screen and (min-width: 768px) {
    /* For desktop: */
    a.compendium {font-size: 100px;}
  }

